<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
	
	<!-- Read scripts -->
	<script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	

	
</head>
<body>
	
	<div class="page-header" > 
		<div class="container">
			<h1>Geographic Listening Patterns </h1>
		</div>
	</div>
	<!-- Initiate app -->
	<div ng-app="myApp" ng-controller="myCtrl">
		<div class="navbar nabbar-default">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a ng-click="toggle(1)">last.fm search</a></li>
					<li><a ng-click="toggle(2)">spotify playlist search</a></li>
					<li><a ng-click="toggle(3)">About this page</a></li>
				</ul>
			</div>
		</div>

		<div ng-show="tab == 3" class="container">
			
			<p>
				<em>Last.fm</em> search will take in a Last.fm user name and display the user's top ten bands along with where they're from.
			</p>
			<p>
				<em>Spotify Search</em> will take in a keyword, and show all songs related to the keyword and display where the band is from. 
			</p>
			<p>
				This page uses data provided by spotify, last.fm and the musicBrainz APIs. Any location data not found is displayed as "unknown"
			</p>
			
		</div>
		<!-- Form for last.fm search -->
		<form ng-show="tab == 1" id="search"class="container" name="songForm">
			<div class="form-group">
				<label>Last.fm user search:</label>
				<input id="input" name="search" placeholder="Enter a last.fm username" ng-model="user" class="form-control"></input>
			</div>
			<div class="form-group">
				<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getArtists()" type="submit">Submit</button>
			</div>
		</form>
		<!--form for the spotify search-->
		<form ng-show="tab == 2"id="search-spotify"class="container" name="spotifyForm">
			<div class="form-group">
				<label>Search song keywords:</label>
				<input  name="search" placeholder="Enter a spotify keyword" ng-model="track" class="form-control"></input>
			</div>

			<div class="form-group">
				<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="searchSpotify()" type="submit">Submit</button>
			</div>
		</form>
		<!-- Results for last.fm search-->
		<div id="location" class="container">
			<table ng-show="iterator.length != 0 && tab == 1" class="table">
				<caption>Top Artists For {{user}}</caption>
				<tr>
					<th>Rank</th>
					<th>Artist</th>
					<th>location</th>

				</tr>
				<tr ng-repeat="num in iterator">
					<td ng-bind="num + 1"></td>
					<td ng-bind="bands[num]"></td>
					<td ng-bind="locations[num]"></td>
				</tr>
				
			</table>
		</div>
		<div ng-show="error">User not found</div>
		
		<!-- Results for spotify search -->
		<div id="result" class="container">
			
			<table ng-show="tracks.length>0 && tab == 2" class="table">
				<tr>
					<th>Track</th>
					<th>Artist</th>
					<th>location</th>

				</tr>
				<tr ng-repeat="num in iterator">
					
					<td ng-bind="songs[num]"></td>
					<td ng-bind="bands[num]"></td>
					<td ng-bind="locations[num]"></td>
				</tr>
				
			</table>
		</div>
	</div>
</body>
</html>