<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
	
	<!-- Read scripts -->
	<script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	

	
</head>
<body>
	
	<div class="page-header" > 
		<div class="container">
			<h1>Geographic Listening Patterns </h1>
		</div>
	</div>
	<!-- Initiate app -->
	<div ng-app="myApp" ng-controller="myCtrl">
		<div class="navbar nabbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a ng-click="toggle(true)">last.fm search</a></li>
				<li><a ng-click="toggle(false)">spotify playlist search</a></li>
			</ul>
		</div>
	</div>
		<!-- Form -->
		<form ng-show="last" id="search"class="container" name="songForm">
			<div class="form-group">
				<label>Last.fm user search:</label>
				<input id="input" name="search" placeholder="Enter a last.fm username" ng-model="user" class="form-control"></input>
			</div>
			<div class="form-group">
				<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getArtists()" type="submit">Submit</button>
			</div>
		</form>
		<form ng-show="!last"id="search-spotify"class="container" name="spotifyForm">
			<div class="form-group">
				<label>Search song keywords:</label>
				<input  name="search" placeholder="Enter a spotify keyword" ng-model="track" class="form-control"></input>
			</div>

			<div class="form-group">
				<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="searchSpotify()" type="submit">Submit</button>
			</div>
		</form>
		<div id="location" class="container">
			<table ng-show="iterator.length != 0 && last" class="table">
				<caption>Top Artists For {{user}}</caption>
				<tr>
					<th>Rank</th>
					<th>Artist</th>
					<th>location</th>

				</tr>
				<tr ng-repeat="num in iterator">
					<td ng-bind="num + 1"></td>
					<td ng-bind="bands[num]"></td>
					<td ng-bind="locations[num]"></td>
				</tr>
				
			</table>
		</div>
		<div ng-show="error">User not found</div>
		
		<!-- Results -->
		<div id="result" class="container-fixed">
			
			<table ng-show="tracks.length>0 && !last" class="table">
				<tr>
					<th>Track</th>
					<th>Artist</th>
					<th>location</th>

				</tr>
				<tr ng-repeat="num in iterator">
					
					<td ng-bind="songs[num]"></td>
					<td ng-bind="bands[num]"></td>
					<td ng-bind="locations[num]"></td>
				</tr>
				
			</table>
		</div>
	</div>
	</div>
</body>
</html>